
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}   

.barra-topo {
    background-color: rgba(255, 255, 255, 1);
    height: 54px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid #DBDBDB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.barra-topo img {
    width: 103px;
    height: 29px;
    margin-top: 6px;
}

.barra-bottom {
    background-color: rgba(255, 255, 255, 1);
    height: 54px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 1px solid #DBDBDB;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    z-index: 1000;
}

.icone-insta {
    font-size: 23px;
    margin-left: 15px;
}

.icone {
    font-size: 23px;
    margin-right: 18px;
}

.pagina {
    background-color: #fafafa;
    width: 100%;
    margin: 54px 0;
}

.conteudo {
    width: 100%;  
    background-color: #fafafa; 
}

.barra-stories {
    width: 100%;
    background-color: #fafafa;
    height: 118px;
    display: flex;
    align-items: center;
    padding-left: 17px;
    overflow: hidden;
}

.story {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.barra-stories img {
    width: 66px;
    border-radius: 33px;
    margin-bottom: 6px;
}

.post {
    width: 100%;
    margin-bottom: 60px;
    border-bottom: 1px solid #DBDBDB;
    border-top: 1px solid #DBDBDB;
}

.barra-sup-post {
    width: 100%;
    height: 61px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
}

.barra-sup-post img {
    width: 32px;
    height: 32px;
    margin-right: 15px;
}

.universo {
    width: 100%;
}

.barra-inf-post {
    width: 100%;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: #FFFFFF;
}

.reacoes {
    width: 100%;
    height: 30px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px 0;
}

.icone-post {
    font-size: 25px;
    margin-right: 2px;
    margin-top: 5px;
}

.react {
    font-size: 25px;
    width: 100px;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
}

.aliens {
    display: flex;
    align-items: center;
}

.curtidas {
    width: 100%;
    height: 25px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.curtidas img {
    width: 17px;
    height: 17px;
    margin-right: 5px;
    border-radius: 33px;
}

.barra-curtir {
    display: flex;
    justify-content: space-between;
    margin-right: 7px;
}

.comentar {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.comentar input {
    width: calc(100% - 75px);
    border: none;
    outline: none;
    font-size: 14px;
    margin-left: 7px;
}

.publicar {
    display: flex;
    justify-content: space-between;
    margin-right: 8px;
}

.publicar button {
    font-size: 14px;
    font-weight: 500px;
    color: #B2DFFC;
}

button {
    border: none;
    background-color: #ffffff;
    cursor: pointer; 
}

button:hover {
    transition: 300ms;
}

.salvar:hover{
    color: #a09a9a;
}

.publicar button:hover {
    color: #0095F6;
}


.barra-curtir button:hover {
    color: #ED4956;
}

.curtir {
    font-size: 16px;
}

.escrita-inf {
    margin-bottom: 9px;
}

.pesquisar, .opcoes, .instagram {
    display: none;
}


.barra-stories p {
    font-size: 12px;
}

.post p {
    font-size: 14px;
}

.negrito-500 {
    font-weight: 500;
}

.cinzinha {
    color: #a09a9a;
}

.mini {
    font-size: 11px;
}

.click {
    cursor: pointer;
}

strong {
    font-weight: bold;
}

.sidebar, .ghost-sidebar {
    display: none;
}


@media (min-width: 614px) {
    .conteudo {
        width: 614px; 
        background-color: #fafafa;
        margin-top: 34px;
    }
    .barra-stories {
        margin-bottom: 24px;
        background-color: #ffffff;
        border: 1px solid #DBDBDB;
        border-radius: 3px;
        position: relative;
    }
    .setinha {
        position: absolute;
        height: 26px;
        width: 26px;
        border-radius: 40px;
        background-color: #fafafa;
        box-shadow: -1px 4px 3px rgba(117, 116, 116, 0.568);
        right: 9px;
    }
    .icone-setinha {
        color: rgb(170, 169, 169);
        font-size: 21px;
        position: absolute;
        right: 1px;
        bottom: 2px;
    }
    .post {
        border: 1px solid #DBDBDB;
        border-radius: 3px;
    }
    .pagina {
        background-color: #fafafa;
        display: flex;
        justify-content: center;
    }
    .barra-bottom {
        display: none;
    }
    .pesquisar {
        display: initial;
        background-color: #fafafa;
        border: 1px solid #DBDBDB;
        border-radius: 3px;
        height: 28px;
        width: 215px;
        z-index: 1001;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        color: #979797;
    }
    .opcoes {
        display: flex;
        align-items: center;
    }
    .sumir {
        display: none;
    }
    .instagram {
        display: flex;
        align-items: center;
        width: 165px;
        justify-content: space-between;
    }
    .instagram img {
        margin-top: 7px;
    }
    .instagram .icone-insta {
        border-right: 1.5px solid #DBDBDB;
        padding-right: 10px;
    }
    .sidebar, .ghost-sidebar {
        display: none;
    }
}

@media (min-width: 935px) {
    .top-bar {
        width: 100%;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        border-bottom: 1px solid #DBDBDB;
        z-index: 1000;
    }
    .barra-topo {
        width: 970px;
        position: initial;
        border-bottom: none;
        z-index: 1000;
    }
    .sidebar {
        display: initial;
        background-color: #fafafa;
        height: 100%;
        width: 293px;
        margin-left: 645px;
        margin-top: 55.5px;
        position: fixed;      
    }
    .ghost-sidebar {
        display: initial;
        background-color: #fafafa;
        color: #fafafa;
        height: 100%;
        width: 293px;
        margin-left: 29px;
        margin-top: 55.5px;
        z-index: -1000;
    }
    .topo-sidebar {
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 500;
    }
    .topo-sidebar p {
        font-size: 12px;
        color: #8E8E8E;
        font-weight: 300;
    }
    .topo-sidebar h1 {
        line-height: 15px;
    }
    .topo-sidebar img {
        width: 56px;
        height: 56px;
        border-radius: 28px;
        margin-right: 17px;
    }
    .barrinha {
        display: flex;
        justify-content: space-between;
        margin-top: 24px;
        margin-bottom: 17px;
        font-weight: 500;
        font-size: 12px;
    }
    .caixa-sugestao {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
    }
    .caixa-sugestao {
        font-size: 14px;
        font-weight: 500;
    }
    .caixa-sugestao p {
        font-size: 12px;
    }
    .novo {
        font-weight: 400;
        color: #8E8E8E;
    }
    .seguir {
        font-weight: 500;
        color: #139EF2;
    }
    .quem-eh {
        display: flex;
        align-items: center;
    }
    .quem-eh img {
        width: 32px;
        height: 32px;
        border-radius: 16px;
        margin-right: 11px;
    }
    .quem-eh h1 {
        line-height: 15px;
    }
    .sugestoes {
        margin-bottom: 33px;
    }
    .coisinhas {
        display: flex;
        flex-direction: column;
        height: 70px;
        justify-content: space-between;
        font-size: 11px;
        font-weight: 400;
        color: #C7C7C7;
        line-height: 12.9px;
    }

}
